body, a, input, option, select, table, tr, table {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 13px;
}
body {
	background-color: #F9F9F9;
}

input.suggestion, select.suggestion, select.suggestion option {
	width: 280px;
}

input.button
{
	width: 150px;
	cursor: pointer;
}
td.highlight
{
	background-color: #DADADA;
}
input.button {
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
	box-sizing: border-box;
	color: #0f1111;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 29px;
	padding: 0 10px 0 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	width: 100px;
}

	input.button:hover {
		background-color: #f7fafa;
	}

	input.button:focus {
		border-color: #008296;
		box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
		outline: 0;
	}
.m-3{margin:3px;}
.m-6 {
	margin: 6px 3px 6px 3px;
}